﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Javascript.aspx.cs" Inherits="Assignment2a.Javascript" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Concept" runat="server">
</asp:Content>
