﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="WebProgram.aspx.cs" Inherits="Assignment2a.WebProgram" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Concept" runat="server">
</asp:Content>
