﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PagesUsercontrol.ascx.cs" Inherits="finalproject.PagesUsercontrol" %>

<%--
    We want an interface which populates a list of current classes
    for our user to select from.
--%>
<asp:SqlDataSource 
    runat="server" 
    ID="Pages_list_pick"
     ConnectionString="<%$ ConnectionStrings:final_sql_con %>">
    
</asp:SqlDataSource>
<ul runat="server"  ID="page_pick" class="nav navbar-nav">
    
    
    
    

</ul>